body {
    position: relative;
}

section p,
article p,
aside p {
    text-align: justify;
    font-size: x-large;
}

.simonetta-regular {
    font-family: "Simonetta", serif;
    font-weight: 600;
    font-style: normal;
}

.simonetta-black {
    font-family: "Simonetta", serif;
    font-weight: 900;
    font-style: normal;
}

#background-image {
    background-image: url('../imagens/fundo/rafa-buique.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    height: 600px;
}

section,
article,
aside {
    border: azure;
    border-style: solid;
    border-width: 2px;
}

aside,
p {
    text-align: center;
}

#professora {
    background-image: url('../imagens/fundo/desenho-da-escola-imagens-de-fundo-e-espaco-de-copia_1179130-583147.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: block;

    color: black;
    text-shadow: 2px 2px azure;
}

#guia {
    background-image: url('../imagens/fundo/imagem-catimbau-floresta.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    display: block;

    color: azure;
    text-shadow: 0px 0px 10px black;
}

#corredora {
    background-image: url('../imagens/fundo/imagem-corrida.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: block;

    color: black;
    text-shadow: 0px 0px 10px azure;
}

#artesa {
    background-image: url('../imagens/fundo/artesanato-fundo.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    display: block;

    color: black;
    text-shadow: 0px 0px 10px azure;
}

#contato,
footer {
    background-image: url('../imagens/fundo/fundo-contato3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: block;

    color: black;
    text-shadow: 0px 0px 10px azure;
}

.hideme {
    display: none;
}

.margens {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mosaic {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile:nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3) {
    grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5) {
    grid-row: 3;
}

.tile:nth-child(6) {
    grid-row: 4;
    grid-column: span 2;
}

.tile:nth-child(7),
.tile:nth-child(8) {
    grid-column: span 3;
    grid-row: span 2;
}

.tile {
    overflow: hidden;
}

.tile img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
}

.tile:hover img {
    border: 3px solid #007bff !important;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#goToTop {
    background-image: url('../svg/app-back-to-top-arrow-3.svg');
    display: none;
    position: fixed;
    margin-left: 70rem;
    bottom: 50px;
    z-index: 9999;
    cursor: pointer;
    border: none;
    padding: 30px;
    border-radius: 50%;
    background-color: yellow;
}

#goToTop:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
}

@media only screen and (max-width: 1400px) {
    .card-body {
        text-align: center !important;
    }

    #imagem-guia {
        float: right;
    }

    #goToTop {
        padding: 30px;
    }

    #audio {
        position: relative !important;
        float: right !important;
        top: 32rem;
        right: 7rem;
        opacity: 75%;
    }
}

@media only screen and (max-width: 1200px) {
    #goToTop {
        margin-left: 65rem;
    }
}

@media only screen and (max-width: 1120px) {
    #goToTop {
        margin-left: 60rem;
    }
}

@media only screen and (max-width: 1040px) {
    #goToTop {
        margin-left: 55rem;
    }
}

@media only screen and (max-width: 970px) {
    #goToTop {
        margin-left: 50rem;
    }
}

@media only screen and (max-width: 900px) {
    #goToTop {
        margin-left: 48rem;
    }
}

@media only screen and (max-width: 850px) {
    #goToTop {
        margin-left: 45rem;
    }
}


@media only screen and (max-width: 800px) {
    #goToTop {
        margin-left: 43rem;
    }

    #audio {
        position: relative !important;
        float: right !important;
        right: 2rem;
        opacity: 75%;
    }
}

@media only screen and (max-width: 770px) {
    #imagem-guia {
        float: right;
    }

    section img,
    article img,
    aside img {
        text-align: center !important;
    }

    #goToTop {
        margin-left: 40rem;
    }
}

@media only screen and (max-width: 768px) {
    #imagem-guia {
        float: none;
    }
}

@media only screen and (max-width: 720px) {
    #goToTop {
        margin-left: 38rem;
    }
}

@media only screen and (max-width: 690px) {
    #goToTop {
        padding: 25px;
    }
}

@media only screen and (max-width: 685px) {
    .card-body {
        margin-left: 5rem;
    }

    #goToTop {
        padding: 22px;
        margin-left: 37rem;
    }
}

@media only screen and (max-width: 680px) {
    #goToTop {
        margin-left: 36.8rem;
    }
}

@media only screen and (max-width: 650px) {
    #goToTop {
        margin-left: 36rem;
        padding: 20px;
    }
}

@media only screen and (max-width: 635px) {
    #goToTop {
        margin-left: 35.2rem;
    }
}

@media only screen and (max-width: 620px) {
    #goToTop {
        padding: 18px;
        margin-left: 35rem;
    }
}

@media only screen and (max-width: 600px) {
    div.card-body {
        font-size: 70%;
    }

    div.card-body ul {
        width: 100%;
        font-size: 15px;
    }

    #goToTop {
        margin-left: 32rem;
    }

    #audio {
        position: relative !important;
        float: right !important;
        top: 8rem;
        right: 0.5rem;
        opacity: 75%;
    }
}

@media only screen and (max-width: 570px) {
    #goToTop {
        margin-left: 31rem;
    }
}

@media only screen and (max-width: 550px) {
    #goToTop {
        margin-left: 30rem;
    }
}

@media only screen and (max-width: 520px) {
    #goToTop {
        margin-left: 27.5rem;
    }
}

@media only screen and (max-width: 500px) {
    #professora {
        background-size: contain;
        background-repeat: repeat;
        background-attachment: fixed !important;
    }

    .card {
        width: 80%;
    }

    .tile {
        margin-bottom: 1rem;
    }

    #audio {
        position: relative !important;
        float: right !important;
        z-index: 120;
        top: 5rem;
        right: 5rem;
        opacity: 75%;
    }
}