.pin {
    z-index: 999;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 60px 60px 0px 60px;
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
}

.pin::after {
    content: "";
    top: 5px;
    left: 5.2px;
    width: 8px;
    height: 8px;
    background: white;
    position: absolute;
    border-radius: 60px;
    background-color: white;
}

.pin:hover {
    width: 25px;
    height: 25px;

    &::after {
        width: 10px;
        height: 10px;
        background-color: yellow;
    }
}

.pin.active {
    background-color: yellow;
    width: 25px;
    height: 25px;

    &::after {
        width: 10px;
        height: 10px;
        background-color: black;
    }
}

#no-state-selected {
    margin-top: -170px;
}

#no-state-selected>h4 {
    text-align: center;
}

#seta-indicando-mapa {
    margin-top: 50px;
    rotate: 180deg;
    width: 15%;
    border: 2px solid black;
    border-radius: 60px 60px 60px 60px;
    padding: 20px;
    background-color: yellow;
    position: relative;
    animation: mymove 1s infinite;
    animation-direction: alternate;
}

@keyframes mymove {
    from {
        right: -100px;
    }

    to {
        right: 100px;
    }
}

video,
.imagensEstado>img,
.carousel-item>img {
    margin: inherit;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
}

.carousel-caption {
    text-shadow: 2px 2px 2px #000000;
}

.carousel-caption>p {
    text-align: center !important;
}

@media only screen and (min-width: 1367px) and (max-width: 3840px) {
    #mapaBrasil {
        width: 100% !important;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 3840px) {
    #pinPA {
        top: 4.5rem;
        left: 22.5rem;
    }

    #pinPE {
        top: 10.2rem;
        left: 31.3rem;
    }

    #pinPB {
        top: 9rem;
        left: 33.3rem;
    }

    #pinAL {
        top: 11.3rem;
        left: 32.8rem;
    }

    #pinRN {
        top: 7.8rem;
        left: 32.5rem;
    }

    #pinMG {
        top: 20rem;
        left: 27rem;
    }

    #pinCE {
        top: 6.4rem;
        left: 30.8rem;
    }

    #pinBA {
        top: 13.9rem;
        left: 30.9rem;
    }

    #pinRJ {
        top: 22.8rem;
        left: 26.9rem;
    }

    #pinRS {
        top: 30.5rem;
        left: 19rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    #pinPA {
        top: 4.5rem;
        left: 20rem;
    }

    #pinCE {
        top: 6rem;
        left: 27.5rem;
    }

    #pinRN {
        top: 7rem;
        left: 29rem;
    }

    #pinPB {
        top: 8rem;
        left: 30rem;
    }

    #pinPE {
        top: 9rem;
        left: 28.5rem;
    }

    #pinAL {
        top: 10rem;
        left: 29.5rem;
    }

    #pinBA {
        top: 12.3rem;
        left: 27.8rem;
    }

    #pinMG {
        top: 17.5rem;
        left: 24rem;
    }

    #pinRJ {
        top: 20.3rem;
        left: 24.5rem;
    }

    #pinRS {
        top: 26rem;
        left: 17rem;
    }
}

@media only screen and (min-width: 1120px) and (max-width: 1199px) {
    #pinPA {
        top: 3rem;
        left: 17rem;
    }

    #pinCE {
        top: 5rem;
        left: 23rem;
    }

    #pinRN {
        top: 5.5rem;
        left: 24.2rem;
    }

    #pinPB {
        top: 6.5rem;
        left: 25rem;
    }

    #pinPE {
        top: 7.5rem;
        left: 23.5rem;
    }

    #pinAL {
        top: 8.2rem;
        left: 24.7rem;
    }

    #pinBA {
        top: 10rem;
        left: 23.2rem;
    }

    #pinMG {
        top: 15rem;
        left: 20rem;
    }

    #pinRJ {
        top: 16.8rem;
        left: 20.3rem;
    }

    #pinRS {
        top: 22rem;
        left: 14rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1119px) {
    #pinPA {
        top: 3rem;
        left: 16.7rem;
    }

    #pinCE {
        top: 5rem;
        left: 23rem;
    }

    #pinRN {
        top: 5.5rem;
        left: 24.2rem;
    }

    #pinPB {
        top: 6.5rem;
        left: 25rem;
    }

    #pinPE {
        top: 7.5rem;
        left: 23.5rem;
    }

    #pinAL {
        top: 8.2rem;
        left: 24.7rem;
    }

    #pinBA {
        top: 10rem;
        left: 23.3rem;
    }

    #pinMG {
        top: 15rem;
        left: 20rem;
    }

    #pinRJ {
        top: 16.8em;
        left: 20.5rem;
    }

    #pinRS {
        top: 22rem;
        left: 14rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 991px) {
    #mapaBrasil {
        width: 100% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #pinPA {
        top: 2.5rem;
        left: 14rem;
    }

    #pinCE {
        top: 3.3rem;
        left: 18.5rem;
    }

    #pinRN {
        top: 4.2rem;
        left: 19.5rem;
    }

    #pinPB {
        top: 5rem;
        left: 20.5rem;
    }

    #pinPE {
        top: 5.7rem;
        left: 19rem;
    }

    #pinAL {
        top: 6.4rem;
        left: 20.1rem;
    }

    #pinBA {
        top: 7.8rem;
        left: 19rem;
    }

    #pinMG {
        top: 11.5rem;
        left: 16rem;
    }

    #pinRJ {
        top: 13.3rem;
        left: 16.5rem;
    }

    #pinRS {
        top: 18rem;
        left: 11.5rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #pinPA {
        top: 4rem;
        left: 21.5rem;
    }

    #pinPE {
        top: 9.5rem;
        left: 29.5rem;
    }

    #pinPB {
        top: 8.5rem;
        left: 31.4rem;
    }

    #pinAL {
        top: 10.7rem;
        left: 31rem;
    }

    #pinRN {
        top: 7.5rem;
        left: 30.5rem;
    }

    #pinMG {
        top: 19rem;
        left: 25rem;
    }

    #pinCE {
        top: 6rem;
        left: 29rem;
    }

    #pinBA {
        top: 13rem;
        left: 29.3rem;
    }

    #pinRJ {
        top: 21.3rem;
        left: 25.5rem;
    }

    #pinRS {
        top: 28rem;
        left: 18rem;
    }
}

@media only screen and (min-width: 570px) and (max-width: 575px) {
    #pinPA {
        top: 5rem;
        left: 22.5rem;
    }

    #pinCE {
        top: 6.5rem;
        left: 30.5rem;
    }

    #pinRN {
        top: 7.7rem;
        left: 32.5rem;
    }

    #pinPB {
        top: 9rem;
        left: 33.5rem;
    }

    #pinPE {
        top: 10.5rem;
        left: 31.5rem;
    }

    #pinAL {
        top: 11.3rem;
        left: 33rem;
    }

    #pinBA {
        top: 13.8rem;
        left: 31rem;
    }

    #pinMG {
        top: 19.5rem;
        left: 26rem;
    }

    #pinRJ {
        top: 22.7rem;
        left: 27rem;
    }

    #pinRS {
        top: 30rem;
        left: 19rem;
    }
}

@media only screen and (min-width: 565px) and (max-width: 569px) {
    #pinPA {
        top: 5rem;
        left: 22rem;
    }

    #pinCE {
        top: 6.5rem;
        left: 30rem;
    }

    #pinRN {
        top: 7.7rem;
        left: 32rem;
    }

    #pinPB {
        top: 9rem;
        left: 33rem;
    }

    #pinPE {
        top: 10rem;
        left: 31rem;
    }

    #pinAL {
        top: 11.3rem;
        left: 32.2rem;
    }

    #pinBA {
        top: 13.8rem;
        left: 30rem;
    }

    #pinMG {
        top: 19.5rem;
        left: 25.5rem;
    }

    #pinRJ {
        top: 22.2rem;
        left: 26.5rem;
    }

    #pinRS {
        top: 30rem;
        left: 18.5rem;
    }
}

@media only screen and (min-width: 560px) and (max-width: 564px) {
    #pinPA {
        top: 5rem;
        left: 22em;
    }

    #pinCE {
        top: 6.5rem;
        left: 30rem;
    }

    #pinRN {
        top: 7.7rem;
        left: 31.7rem;
    }

    #pinPB {
        top: 8.5rem;
        left: 32.7rem;
    }

    #pinPE {
        top: 10rem;
        left: 31rem;
    }

    #pinAL {
        top: 11rem;
        left: 32rem;
    }

    #pinBA {
        top: 13.4rem;
        left: 30.3rem;
    }

    #pinMG {
        top: 19.5rem;
        left: 25.5rem;
    }

    #pinRJ {
        top: 22.2rem;
        left: 26.3rem;
    }

    #pinRS {
        top: 29.5rem;
        left: 18.2rem;
    }
}

@media only screen and (min-width: 555px) and (max-width: 559px) {
    #pinPA {
        top: 4.7rem;
        left: 21.3rem;
    }

    #pinCE {
        top: 6.5rem;
        left: 30rem;
    }

    #pinRN {
        top: 7.7rem;
        left: 31.2rem;
    }

    #pinPB {
        top: 8.5rem;
        left: 32.2rem;
    }

    #pinPE {
        top: 10rem;
        left: 30.5rem;
    }

    #pinAL {
        top: 11rem;
        left: 31.5rem;
    }

    #pinBA {
        top: 13.2rem;
        left: 30rem;
    }

    #pinMG {
        top: 19.5rem;
        left: 25.5rem;
    }

    #pinRJ {
        top: 21.8rem;
        left: 26.2rem;
    }

    #pinRS {
        top: 29.5rem;
        left: 18.2rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 554px) {
    #pinPA {
        top: 4.5rem;
        left: 21.3rem;
    }

    #pinCE {
        top: 6rem;
        left: 29rem;
    }

    #pinRN {
        top: 7.5rem;
        left: 31.2rem;
    }

    #pinPE {
        top: 9.5rem;
        left: 30rem;
    }

    #pinPB {
        top: 8.5rem;
        left: 32rem;
    }

    #pinAL {
        top: 11em;
        left: 31.5rem;
    }

    #pinMG {
        top: 18.5rem;
        left: 24.2rem;
    }

    #pinBA {
        top: 13.2rem;
        left: 29.8rem;
    }

    #pinRJ {
        top: 21.7rem;
        left: 26rem;
    }

    #pinRS {
        top: 28rem;
        left: 17rem;
    }
}

@media only screen and (min-width: 545px) and (max-width: 549px) {
    #pinPA {
        top: 4.5rem;
        left: 21.3rem;
    }

    #pinCE {
        top: 6rem;
        left: 29rem;
    }

    #pinRN {
        top: 7.2rem;
        left: 30.7rem;
    }

    #pinPB {
        top: 8.5rem;
        left: 31.5rem;
    }

    #pinPE {
        top: 9.5rem;
        left: 30rem;
    }

    #pinAL {
        top: 10.7em;
        left: 31rem;
    }

    #pinBA {
        top: 13rem;
        left: 29.2rem;
    }

    #pinMG {
        top: 18.5rem;
        left: 24.2rem;
    }

    #pinRJ {
        top: 21.3rem;
        left: 25.7rem;
    }

    #pinRS {
        top: 28rem;
        left: 17rem;
    }
}

@media only screen and (min-width: 540px) and (max-width: 544px) {
    #pinPA {
        top: 4.5rem;
        left: 21.3rem;
    }

    #pinCE {
        top: 6rem;
        left: 29rem;
    }

    #pinRN {
        top: 7.2rem;
        left: 30.7rem;
    }

    #pinPB {
        top: 8.5rem;
        left: 31.5rem;
    }

    #pinPE {
        top: 9.5rem;
        left: 30rem;
    }

    #pinAL {
        top: 10.7em;
        left: 31rem;
    }

    #pinBA {
        top: 13rem;
        left: 29.2rem;
    }

    #pinMG {
        top: 18.5rem;
        left: 24.2rem;
    }

    #pinRJ {
        top: 21.3rem;
        left: 25.7rem;
    }

    #pinRS {
        top: 28rem;
        left: 17rem;
    }
}

@media only screen and (min-width: 535px) and (max-width: 539px) {
    #pinPA {
        top: 4.5rem;
        left: 20.5rem;
    }

    #pinCE {
        top: 5.8rem;
        left: 28.5rem;
    }

    #pinRN {
        top: 7.1rem;
        left: 30.5rem;
    }

    #pinPB {
        top: 8.5rem;
        left: 31rem;
    }

    #pinPE {
        top: 9.5rem;
        left: 29.5rem;
    }

    #pinAL {
        top: 10.5rem;
        left: 30.5rem;
    }

    #pinBA {
        top: 12.2rem;
        left: 28rem;
    }

    #pinMG {
        top: 18rem;
        left: 24rem;
    }

    #pinRJ {
        top: 21rem;
        left: 25.3rem;
    }

    #pinRS {
        top: 27rem;
        left: 17rem;
    }
}

@media only screen and (min-width: 530px) and (max-width: 534px) {
    #pinPA {
        top: 4.2rem;
        left: 20.5rem;
    }

    #pinCE {
        top: 6rem;
        left: 28.5rem;
    }

    #pinRN {
        top: 7rem;
        left: 30rem;
    }

    #pinPB {
        top: 8rem;
        left: 31rem;
    }

    #pinPE {
        top: 9.2rem;
        left: 29rem;
    }

    #pinAL {
        top: 10.3rem;
        left: 30.5rem;
    }

    #pinBA {
        top: 12.5rem;
        left: 28.8rem;
    }

    #pinMG {
        top: 17.5rem;
        left: 24em;
    }

    #pinRJ {
        top: 20.7rem;
        left: 25.2rem;
    }

    #pinRS {
        top: 27.5rem;
        left: 17rem;
    }
}

@media only screen and (min-width: 525px) and (max-width: 529px) {
    #pinPA {
        top: 4.2rem;
        left: 20.5rem;
    }

    #pinCE {
        top: 5.5rem;
        left: 27.8rem;
    }

    #pinRN {
        top: 7rem;
        left: 29.7rem;
    }

    #pinPB {
        top: 8.2rem;
        left: 30.5rem;
    }

    #pinPE {
        top: 9rem;
        left: 29rem;
    }

    #pinAL {
        top: 10.2rem;
        left: 30rem;
    }

    #pinBA {
        top: 12.5rem;
        left: 28.5rem;
    }

    #pinMG {
        top: 17.5rem;
        left: 23rem;
    }

    #pinRJ {
        top: 20.5rem;
        left: 25rem;
    }

    #pinRS {
        top: 27rem;
        left: 17rem;
    }
}

@media only screen and (min-width: 520px) and (max-width: 524px) {
    #pinPA {
        top: 3.8rem;
        left: 20.2rem;
    }

    #pinCE {
        top: 5.5rem;
        left: 27rem;
    }

    #pinRN {
        top: 6.8rem;
        left: 29.3rem;
    }

    #pinPB {
        top: 8rem;
        left: 30rem;
    }

    #pinPE {
        top: 9rem;
        left: 28.5rem;
    }

    #pinAL {
        top: 9.8rem;
        left: 29.7rem;
    }

    #pinBA {
        top: 12.2rem;
        left: 28rem;
    }

    #pinMG {
        top: 17.5rem;
        left: 23.5rem;
    }

    #pinRJ {
        top: 20.2rem;
        left: 24.5rem;
    }

    #pinRS {
        top: 26.5rem;
        left: 16.5rem;
    }
}

@media only screen and (min-width: 515px) and (max-width: 519px) {
    #pinPA {
        top: 3.7rem;
        left: 19rem;
    }

    #pinPE {
        top: 8.5rem;
        left: 27rem;
    }

    #pinPB {
        top: 7.3rem;
        left: 28.7rem;
    }

    #pinAL {
        top: 9.5rem;
        left: 28.3em;
    }

    #pinRN {
        top: 6.5rem;
        left: 27.7rem;
    }

    #pinMG {
        top: 17rem;
        left: 22.5rem;
    }

    #pinCE {
        top: 5rem;
        left: 26rem;
    }

    #pinBA {
        top: 11.5rem;
        left: 26.5rem;
    }

    #pinRJ {
        top: 19.2rem;
        left: 23.2rem;
    }

    #pinRS {
        top: 26rem;
        left: 16rem;
    }
}

@media only screen and (min-width: 510px) and (max-width: 514px) {
    #pinPA {
        top: 4rem;
        left: 20rem;
    }

    #pinCE {
        top: 5rem;
        left: 26.5rem;
    }

    #pinRN {
        top: 6.5rem;
        left: 28.5rem;
    }

    #pinPB {
        top: 8rem;
        left: 29rem;
    }

    #pinPE {
        top: 9rem;
        left: 27.5rem;
    }

    #pinAL {
        top: 10rem;
        left: 29rem;
    }

    #pinBA {
        top: 12rem;
        left: 27.5rem;
    }

    #pinMG {
        top: 17rem;
        left: 22.5rem;
    }

    #pinRJ {
        top: 20rem;
        left: 23.8rem;
    }

    #pinRS {
        top: 26rem;
        left: 16rem;
    }
}

@media only screen and (min-width: 500px) and (max-width: 509px) {
    #pinPA {
        top: 3.5rem;
        left: 19rem;
    }

    #pinPE {
        top: 8.5rem;
        left: 26rem;
    }

    #pinPB {
        top: 7.5rem;
        left: 27.7rem;
    }

    #pinAL {
        top: 9.2rem;
        left: 27.2rem;
    }

    #pinRN {
        top: 6.1rem;
        left: 27rem;
    }

    #pinMG {
        top: 16.5rem;
        left: 22rem;
    }

    #pinCE {
        top: 5rem;
        left: 25.3rem;
    }

    #pinBA {
        top: 11rem;
        left: 25.8rem;
    }

    #pinRJ {
        top: 18.8rem;
        left: 22.8rem;
    }

    #pinRS {
        top: 25rem;
        left: 16rem;
    }
}

@media only screen and (min-width: 490px) and (max-width: 499px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 4rem;
        left: 19.5rem;
    }

    #pinCE {
        top: 5.5rem;
        left: 26.5rem;
    }

    #pinRN {
        top: 6.5rem;
        left: 28.5rem;
    }

    #pinPB {
        top: 7.9rem;
        left: 28.8rem;
    }

    #pinPE {
        top: 8.5rem;
        left: 27rem;
    }

    #pinAL {
        top: 9.8rem;
        left: 28.3rem;
    }

    #pinBA {
        top: 12rem;
        left: 26.8rem;
    }

    #pinMG {
        top: 16.5rem;
        left: 23rem;
    }

    #pinRJ {
        top: 19.5rem;
        left: 23.7rem;
    }

    #pinRS {
        top: 25.5rem;
        left: 16rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 489px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 3.7rem;
        left: 19rem;
    }

    #pinCE {
        top: 5.5rem;
        left: 26rem;
    }

    #pinRN {
        top: 6.5rem;
        left: 27.8rem;
    }

    #pinPB {
        top: 7.5rem;
        left: 28.7rem;
    }

    #pinPE {
        top: 8.5rem;
        left: 26.2rem;
    }

    #pinAL {
        top: 9.5rem;
        left: 28rem;
    }

    #pinBA {
        top: 11.7rem;
        left: 26.2rem;
    }

    #pinMG {
        top: 16rem;
        left: 21.5rem;
    }

    #pinRJ {
        top: 19.2rem;
        left: 23rem;
    }

    #pinRS {
        top: 25rem;
        left: 16rem;
    }
}

@media only screen and (min-width: 470px) and (max-width: 479px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 3.7rem;
        left: 18.7rem;
    }

    #pinCE {
        top: 5.3rem;
        left: 25.5rem;
    }

    #pinRN {
        top: 6.5rem;
        left: 27.2rem;
    }

    #pinPB {
        top: 7.3rem;
        left: 28rem;
    }

    #pinPE {
        top: 8.5rem;
        left: 26.2rem;
    }

    #pinAL {
        top: 9.5rem;
        left: 27.3rem;
    }

    #pinBA {
        top: 11.3rem;
        left: 25.8rem;
    }

    #pinMG {
        top: 16rem;
        left: 21.5rem;
    }

    #pinRJ {
        top: 18.7rem;
        left: 22.5rem;
    }

    #pinRS {
        top: 24.5rem;
        left: 16rem;
    }
}

@media only screen and (min-width: 465px) and (max-width: 469px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 3.5rem;
        left: 18rem;
    }

    #pinCE {
        top: 5rem;
        left: 24.8rem;
    }

    #pinRN {
        top: 6.3rem;
        left: 26.5rem;
    }

    #pinPB {
        top: 7rem;
        left: 27.4rem;
    }

    #pinPE {
        top: 8rem;
        left: 24.7rem;
    }

    #pinAL {
        top: 9.2rem;
        left: 26.7rem;
    }

    #pinBA {
        top: 11rem;
        left: 25.2rem;
    }

    #pinMG {
        top: 15.5rem;
        left: 21rem;
    }

    #pinRJ {
        top: 18.2rem;
        left: 22rem;
    }

    #pinRS {
        top: 23.7rem;
        left: 15.5rem;
    }
}

@media only screen and (min-width: 460px) and (max-width: 464px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 3.5rem;
        left: 18rem;
    }

    #pinCE {
        top: 5rem;
        left: 24.5rem;
    }

    #pinRN {
        top: 6.3rem;
        left: 26rem;
    }

    #pinPB {
        top: 7rem;
        left: 27rem;
    }

    #pinPE {
        top: 8rem;
        left: 24.7rem;
    }

    #pinAL {
        top: 8.9rem;
        left: 26.2rem;
    }

    #pinBA {
        top: 11rem;
        left: 24.8rem;
    }

    #pinMG {
        top: 15.5rem;
        left: 21rem;
    }

    #pinRJ {
        top: 18rem;
        left: 21.7rem;
    }

    #pinRS {
        top: 23.7rem;
        left: 15rem;
    }
}

@media only screen and (min-width: 450px) and (max-width: 459px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 3.5rem;
        left: 17.3rem;
    }

    #pinCE {
        top: 4.8rem;
        left: 24rem;
    }

    #pinRN {
        top: 6rem;
        left: 26rem;
    }

    #pinPB {
        top: 6.8rem;
        left: 26.8rem;
    }

    #pinPE {
        top: 8rem;
        left: 24.7rem;
    }

    #pinAL {
        top: 9rem;
        left: 26rem;
    }

    #pinBA {
        top: 10.7rem;
        left: 24.6rem;
    }

    #pinMG {
        top: 15.5rem;
        left: 20.5rem;
    }

    #pinRJ {
        top: 17.7rem;
        left: 21.5rem;
    }

    #pinRS {
        top: 23rem;
        left: 15rem;
    }
}

@media only screen and (min-width: 440px) and (max-width: 449px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 3.5rem;
        left: 17.3rem;
    }

    #pinCE {
        top: 4.8rem;
        left: 23.5rem;
    }

    #pinRN {
        top: 5.7rem;
        left: 25.2rem;
    }

    #pinPB {
        top: 6.8rem;
        left: 25.9rem;
    }

    #pinPE {
        top: 8rem;
        left: 24rem;
    }

    #pinAL {
        top: 8.5em;
        left: 25.7rem;
    }

    #pinBA {
        top: 10.5rem;
        left: 24rem;
    }

    #pinMG {
        top: 15rem;
        left: 20rem;
    }

    #pinRJ {
        top: 17.2rem;
        left: 21rem;
    }

    #pinRS {
        top: 23rem;
        left: 15rem;
    }
}

@media only screen and (min-width: 430px) and (max-width: 439px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 3rem;
        left: 17rem;
    }

    #pinCE {
        top: 4.5rem;
        left: 22.9rem;
    }

    #pinRN {
        top: 5.5rem;
        left: 24.5rem;
    }

    #pinPB {
        top: 6.5rem;
        left: 25.2rem;
    }

    #pinPE {
        top: 7.7rem;
        left: 23.5rem;
    }

    #pinAL {
        top: 8.4em;
        left: 24.8rem;
    }

    #pinBA {
        top: 10.2rem;
        left: 23.5rem;
    }

    #pinMG {
        top: 14.5rem;
        left: 19.5rem;
    }

    #pinRJ {
        top: 16.8rem;
        left: 20.5rem;
    }

    #pinRS {
        top: 22rem;
        left: 14.5rem;
    }
}

@media only screen and (min-width: 420px) and (max-width: 429px) {
    .pin {
        width: 17px;
        height: 17px;
    }

    .pin::after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    #pinPA {
        top: 3rem;
        left: 16.7rem;
    }

    #pinCE {
        top: 4.3rem;
        left: 22.3rem;
    }

    #pinRN {
        top: 5.5rem;
        left: 24rem;
    }

    #pinPB {
        top: 6.3rem;
        left: 24.7rem;
    }

    #pinPE {
        top: 7.5rem;
        left: 22.8rem;
    }

    #pinAL {
        top: 8.2em;
        left: 24.3rem;
    }

    #pinBA {
        top: 9.8rem;
        left: 22.9rem;
    }

    #pinMG {
        top: 14rem;
        left: 19rem;
    }

    #pinRJ {
        top: 16.3rem;
        left: 20rem;
    }

    #pinRS {
        top: 21.5rem;
        left: 14rem;
    }
}

@media only screen and (min-width: 410px) and (max-width: 419px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 3rem;
        left: 16.5rem;
    }

    #pinCE {
        top: 4.3rem;
        left: 22rem;
    }

    #pinRN {
        top: 5.5rem;
        left: 23.4rem;
    }

    #pinPB {
        top: 6.3rem;
        left: 24rem;
    }

    #pinPE {
        top: 7.2rem;
        left: 22.3rem;
    }

    #pinAL {
        top: 7.9rem;
        left: 23.9rem;
    }

    #pinBA {
        top: 9.8rem;
        left: 22.3rem;
    }

    #pinMG {
        top: 13rem;
        left: 17.5rem;
    }

    #pinRJ {
        top: 16.1rem;
        left: 19.8rem;
    }

    #pinRS {
        top: 21rem;
        left: 14rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 410px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 3rem;
        left: 15.8rem;
    }

    #pinCE {
        top: 4.3rem;
        left: 21.5rem;
    }

    #pinRN {
        top: 5.2rem;
        left: 22.9rem;
    }

    #pinPB {
        top: 6rem;
        left: 23.5rem;
    }

    #pinPE {
        top: 7rem;
        left: 21.7rem;
    }

    #pinAL {
        top: 7.9rem;
        left: 23.1rem;
    }

    #pinBA {
        top: 9.6rem;
        left: 21.7rem;
    }

    #pinMG {
        top: 13rem;
        left: 17.5rem;
    }

    #pinRJ {
        top: 15.7em;
        left: 19.2rem;
    }

    #pinRS {
        top: 20.5rem;
        left: 13.5rem;
    }
}

@media only screen and (min-width: 395px) and (max-width: 399px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 3rem;
        left: 15rem;
    }

    #pinCE {
        top: 4.3rem;
        left: 20.8rem;
    }

    #pinRN {
        top: 5.2rem;
        left: 22rem;
    }

    #pinPB {
        top: 6rem;
        left: 22.7rem;
    }

    #pinPE {
        top: 6.8rem;
        left: 21.2rem;
    }

    #pinAL {
        top: 7.5rem;
        left: 22.6rem;
    }

    #pinBA {
        top: 9.2rem;
        left: 21.3rem;
    }

    #pinMG {
        top: 13rem;
        left: 17.5rem;
    }

    #pinRJ {
        top: 15.3em;
        left: 18.5rem;
    }

    #pinRS {
        top: 19.7rem;
        left: 13rem;
    }
}

@media only screen and (min-width: 390px) and (max-width: 394px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 3rem;
        left: 15rem;
    }

    #pinCE {
        top: 4rem;
        left: 20.5rem;
    }

    #pinRN {
        top: 5rem;
        left: 21.7rem;
    }

    #pinPB {
        top: 5.7rem;
        left: 22.5rem;
    }

    #pinPE {
        top: 6.5rem;
        left: 21rem;
    }

    #pinAL {
        top: 7.3rem;
        left: 22.2rem;
    }

    #pinBA {
        top: 9rem;
        left: 21rem;
    }

    #pinMG {
        top: 13rem;
        left: 17.5rem;
    }

    #pinRJ {
        top: 15em;
        left: 18.3rem;
    }

    #pinRS {
        top: 19.5rem;
        left: 12.8rem;
    }
}

@media only screen and (min-width: 385px) and (max-width: 389px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 3rem;
        left: 15rem;
    }

    #pinCE {
        top: 3.8rem;
        left: 20rem;
    }

    #pinRN {
        top: 5rem;
        left: 21.3rem;
    }

    #pinPB {
        top: 5.7rem;
        left: 22rem;
    }

    #pinPE {
        top: 6.5rem;
        left: 20.7rem;
    }

    #pinAL {
        top: 7.3rem;
        left: 21.8rem;
    }

    #pinBA {
        top: 8.8rem;
        left: 20.5rem;
    }

    #pinMG {
        top: 12.5rem;
        left: 17rem;
    }

    #pinRJ {
        top: 14.7rem;
        left: 18rem;
    }

    #pinRS {
        top: 19.3rem;
        left: 12.3rem;
    }
}

@media only screen and (min-width: 380px) and (max-width: 384px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 2.7rem;
        left: 14.5rem;
    }

    #pinCE {
        top: 3.8rem;
        left: 19.5rem;
    }

    #pinRN {
        top: 4.8rem;
        left: 21rem;
    }

    #pinPB {
        top: 5.5rem;
        left: 21.8rem;
    }

    #pinPE {
        top: 6.2rem;
        left: 20.2rem;
    }

    #pinAL {
        top: 7rem;
        left: 21.3rem;
    }

    #pinBA {
        top: 8.5rem;
        left: 20rem;
    }

    #pinMG {
        top: 12.5rem;
        left: 17rem;
    }

    #pinRJ {
        top: 14.5rem;
        left: 17.7rem;
    }

    #pinRS {
        top: 19rem;
        left: 12rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 379px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 2.7rem;
        left: 14.5rem;
    }

    #pinCE {
        top: 3.8rem;
        left: 19.5rem;
    }

    #pinRN {
        top: 4.8rem;
        left: 20.8rem;
    }

    #pinPB {
        top: 5.5rem;
        left: 21.5rem;
    }

    #pinPE {
        top: 6.2rem;
        left: 20.2rem;
    }

    #pinAL {
        top: 7rem;
        left: 21rem;
    }

    #pinBA {
        top: 8.5rem;
        left: 19.7rem;
    }

    #pinMG {
        top: 12.5rem;
        left: 17rem;
    }

    #pinRJ {
        top: 14.2rem;
        left: 17.5rem;
    }

    #pinRS {
        top: 18.5rem;
        left: 12rem;
    }
}

@media only screen and (min-width: 370px) and (max-width: 374px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 2.5rem;
        left: 14.2rem;
    }

    #pinPB {
        top: 5.5rem;
        left: 20.9rem;
    }

    #pinPE {
        top: 6.2rem;
        left: 19.8rem;
    }

    #pinCE {
        top: 4rem;
        left: 19.2rem;
    }

    #pinRN {
        top: 4.5rem;
        left: 20.4rem;
    }

    #pinAL {
        top: 6.8rem;
        left: 20.7rem;
    }

    #pinBA {
        top: 8.2rem;
        left: 19.2rem;
    }

    #pinMG {
        top: 12.5rem;
        left: 16.3rem;
    }

    #pinRJ {
        top: 14rem;
        left: 17rem;
    }

    #pinRS {
        top: 18.5rem;
        left: 11.7rem;
    }
}

@media only screen and (min-width: 365px) and (max-width: 369px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 2.5rem;
        left: 14.2rem;
    }

    #pinCE {
        top: 3.6rem;
        left: 19.1rem;
    }

    #pinRN {
        top: 4.5rem;
        left: 20.2rem;
    }

    #pinPB {
        top: 5.4rem;
        left: 20.8rem;
    }

    #pinPE {
        top: 6rem;
        left: 19.5rem;
    }

    #pinAL {
        top: 6.8rem;
        left: 20.5rem;
    }

    #pinBA {
        top: 8.3rem;
        left: 19.5rem;
    }

    #pinMG {
        top: 12rem;
        left: 16.2rem;
    }

    #pinRJ {
        top: 14rem;
        left: 17rem;
    }

    #pinRS {
        top: 18rem;
        left: 11.7rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 364px) {
    .pin {
        width: 15px;
        height: 15px;
    }

    .pin::after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    #pinPA {
        top: 2.5rem;
        left: 14rem;
    }

    #pinCE {
        top: 3.5rem;
        left: 18.4rem;
    }

    #pinRN {
        top: 4.5rem;
        left: 19.5rem;
    }

    #pinPB {
        top: 5.2rem;
        left: 20.3rem;
    }

    #pinPE {
        top: 6rem;
        left: 19rem;
    }

    #pinAL {
        top: 6.6rem;
        left: 20rem;
    }

    #pinBA {
        top: 8rem;
        left: 18.8rem;
    }

    #pinMG {
        top: 12rem;
        left: 16rem;
    }

    #pinRJ {
        top: 13.5rem;
        left: 16.5rem;
    }

    #pinRS {
        top: 18rem;
        left: 11.5rem;
    }
}