.pin {
    z-index: 999;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 60px 60px 0px 60px;
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
}

.pin::after {
    content: "";
    top: 5px;
    left: 5.2px;
    width: 8px;
    height: 8px;
    background: white;
    position: absolute;
    border-radius: 60px;
    background-color: white;
}

.pin:hover {
    width: 25px;
    height: 25px;

    &::after {
        width: 10px;
        height: 10px;
        background-color: yellow;
    }
}

.pin.active {
    background-color: yellow;
    width: 25px;
    height: 25px;

    &::after {
        width: 10px;
        height: 10px;
        background-color: black;
    }
}